*{
  direction: rtl;
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-family: 'Tajawal', sans-serif;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
#navBar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px purple dashed;
  width: 100vw;
  padding: 5px 0px 3px 0px;
}
.aItem{
  height: 40px;
}
a{
  color: black;
  text-decoration: none;
}
.break{
 border-right: 1px purple dashed;
  height: 40px;
}
#logo{
  height: 40px;
}
.item{
  font-weight: 600;
}
.item:hover{
  text-shadow: 2px 5px 20px purple;
}
#showCase{
  margin-bottom: 100px;
  border-bottom: 1px purple dashed;
}
#showCaseTitle{
  text-align: center;
  margin-top: 150px;
}
#showCaseDescription{
  text-align: center;
  margin-bottom: 150px;
  color: purple;
}
main{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
  width: 95vw;
  margin-bottom: 100px;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px purple dashed;
  border-radius: 5px;
  margin: 20px 20px;
}
.card:hover{
  box-shadow: 0px 0px 30px purple;
}
.cardTitle{
  padding: 10px 0px;
}
.cardDescription{
  color: purple;
  padding: 10px 0px;
}
.cardImage{
  height: 300px;
  width: 70%;
  margin-bottom: 20px;
}
footer{
  border-top: 1px purple dashed;
}
#footerRights{
  text-align: center;
  padding: 70px 30px;
  width: 100vw;
}